/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-10-29 11:28:39
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-11-08 01:22:55
**************************************************************/

div.company.view {

	div.explain {
		border-bottom: 1px solid darken($white_color, 5);
	}

	div.employee {
		margin-top : 20px;

		h2.title {
			text-align: center;
			font-size: 42px;
			font-weight: 200;
			margin: 0px;
		}
	}
}