/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-10-29 11:28:39
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-10-29 11:43:51
**************************************************************/

div.company.view {
	div.picture {
		display: inline-block;
		width: 160px;
		height: 190px;
		background-size : 100% 100%;
		background-repeat: no-repeat;
		background-color : rgba($primary_color, 0.8);
	}

	div.explain {
		display: inline-block;
		vertical-align: top;
		margin-left : 20px;
		width: calc(100% - 210px);

		div.name {
			display: block;
			vertical-align: top;
			color: $primary_color;
			font-size: 26px;
			font-weight: bold;
		}

		p.description {
			text-align: justify;
		}
	}
}